# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/bookoholics

# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com

# U2U Blockchain Configuration (Module 4 - NFT Rewards)
U2U_RPC_URL=https://rpc-nebulas-testnet.uniultra.xyz
U2U_CHAIN_ID=2484
NFT_CONTRACT_ADDRESS=0xee2cbd200295a7ade7b0cd1ab7c7980fcdf9d240
PRIVATE_KEY=f798b2ab3ea76db828b0169e0589ee122f998b38e4c57bb2e4e23b876c8e4334

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
